<table>
  <thead>
    <td>Imię</td>
    <td>Nazwisko</td>
    <td>wiek</td>
  </thead>
  <tr *ngFor="let user of users">
    <td>{{user.name}}</td>
    <td>{{user.surname}}</td>
    <td>{{user.poionts}}</td>
    <td></td>
    <td><button (click)="deleteUser(user._id)">USUN</button></td>
    <td><button (click)="editUser(user._id)">EDIT</button></td>
    <td><button (click)="getUser(user._id)">UserInfo</button></td>
  </tr>
</table>

Imię <input [(ngModel)]="user.name">
Nazwisko <input [(ngModel)]="user.surname">
Wiek <input [(ngModel)]="user.poionts"> <button (click)="filter()">Filtruj</button>

<h5>{{user.name}}</h5>
<h5>{{user.surname}}</h5>
<h5>{{user.poionts}}</h5>

<button (click)="save()">SAVE</button>

<button (click)="log()">LOG</button>